   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }

   *+* {
       margin-bottom: .5rem;
   }

   body {
       color: white;
   }

   .chat-container {
       width: 20rem;
       height: 30rem;
       background-color: black;
       margin: auto;
       position: relative;
       overflow-y: auto;
       word-wrap: break-word;

   }

   .message {
       display: block;
       margin-bottom: 1.5rem;

   }

   .me {
       text-align: right;
      
   }
   .me span
   {
    background-color: rebeccapurple;
   }

   .friend {
       text-align: left;
   }
.friend span
{
    background-color: red;
}
   .message span {
       border: 1px solid green;
       padding: 10px;
       padding-left: 10px;
   }

   .title h2 {
       padding-bottom: 1.5rem;
       background-color: orangered;
       margin-bottom: 1.5rem;
       text-align: center;
   }

   .send-container {
       position: absolute;
       bottom: 0;
       display: flex;
       justify-content: space-around;
       width: 100%;
       align-items: center;

   }

   .send-container input {
       background: none;
       border: 1px solid green;
       width: 70%;
       padding: 5px;
       margin: 0;
       color: wheat;
   }

   .send-container input:focus {
       outline: none;
   }

   .send-container button {
       width: 30%;
       padding: 5px;
       background: none;
       color: white;
       text-transform: uppercase;
       font-weight: bold;
       margin: 0;
       border: 1px solid orange;
   }

   .checktyping {
       color: green;
       font-weight: bolder;

   }